        <div id="footer" data-animate="fadeInUp">
            <div class="container" id="contact">
                <div class="row">
                    <div class="col-md-2 col-sm-6">
                        <h4>Sections</h4>

                        <ul>
                            <li><a href="#about">About Us</a>
                            </li>
                            <li><a href="#products">Products</a>
                            </li>
                        </ul>

                        <hr class="hidden-md hidden-lg hidden-sm">

                    </div>
                    <!-- /.col-md-3 -->

                    <div class="col-md-2 col-sm-6">

                        <h4>Products</h4>

                        <ul>
                            <li><a href="/coming_soon">Clothing</a>
                            </li>
                            <li><a href="/product_section?idd=totes_and_more">Totes and More</a>
                            </li>
                            <li><a href="/product_section?idd=yoga_mat_bags">Yoga Lifestyle</a>
                            </li>
                            <li><a href="/coming_soon">Home and Living</a>
                            </li>
                        </ul>

                        <hr class="hidden-md hidden-lg">

                    </div>
                    <!-- /.col-md-3 -->

                    <div class="col-md-4 col-sm-6">

                        <h4>Stay updated</h4>

			{% if is_subscribed %}
			<p class="text-muted">You are subscribed. Stay tuned for updates.</p>
			{% else %}
			<p class="text-muted">If you would like to join our email list, please provide your email below.</p>
                        <form action="/subscribe#footer" method="GET">

                          <div class="input-group">

                            <input type="text" name="email_input" class="form-control" placeholder="user@example.com">

                            <span class="input-group-btn">

			      <button class="btn btn-default" type="submit">Subscribe!</button>
			    </span>

                          </div>
                          <!-- /input-group -->
                        </form>

			{% endif %}

                        <hr class="hidden-md hidden-lg">

                    </div>
                    <!-- /.col-md-3 -->


                    <div class="col-md-4 col-sm-6">

                        <h4>Stay in touch</h4>

                        <p class="social">
                            <a href="https://www.facebook.com/ji.curations" class="facebook external" data-animate-hover="none"><i class="fa fa-facebook"></i></a>
                            <a href="https://www.instagram.com/ji.curations_india" class="instagram external" data-animate-hover="none"><i class="fa fa-instagram"></i></a>
                            <a href="mailto:hello@jicurations.com" class="email external" data-animate-hover="none"><i class="fa fa-envelope"></i></a>
                        </p>
			Whatsapp: +91 73307 16033<br>
			<a href="https://www.payumoney.com/store/buy/ji-curations">Payumoney</a>
                    </div>
                    <!-- /.col-md-3 -->

                </div>
                <!-- /.row -->

            </div>
            <!-- /.container -->
        </div>
        <!-- /#footer -->
