<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="robots" content="all,follow">
    <meta name="googlebot" content="index,follow,snippet,archive">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Obaju e-commerce template">
    <meta name="author" content="Ondrej Svestka | ondrejsvestka.cz">
    <meta name="keywords" content="">

    <title>
        Ji Curations
    </title>

    <meta name="keywords" content="">

    <link href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100' rel='stylesheet' type='text/css'>

    <!-- styles -->
    <link href="static/css/font-awesome.css" rel="stylesheet">
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/animate.min.css" rel="stylesheet">
    <link href="static/css/owl.carousel.css" rel="stylesheet">
    <link href="static/css/owl.theme.css" rel="stylesheet">

    <!-- theme stylesheet -->
    <link href="static/css/style.brown.css" rel="stylesheet" id="theme-stylesheet">

    <!-- your stylesheet with modifications -->
    <link href="static/css/custom.css" rel="stylesheet">

    <script src="static/js/respond.min.js"></script>

    <link rel="shortcut icon" href="static/img/logo-small.png">



</head>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-101595008-1', 'auto');
  ga('send', 'pageview');

</script>

<body>

    <!-- *** NAVBAR ***
 _________________________________________________________ -->

    <div class="navbar navbar-default navbar-withheader navbar-static-top" role="navigation" id="navbar">
        <div class="container">
            <div class="navbar-header">

                <a class="navbar-brand home" href="#contact" data-animate-hover="bounce">
                    <img src="static/img/logo-small.png" alt="Ji logo" class="hidden-xs" style="height: 100%">
                </a>
                <div class="navbar-buttons">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation">
                        <span class="sr-only">Toggle navigation</span>
                        <i class="fa fa-align-justify"></i>
                    </button>
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#search">
                        <span class="sr-only">Toggle search</span>
                        <i class="fa fa-search"></i>
                    </button>
                    <a class="btn btn-default navbar-toggle" href="/coming_soon">
                        <i class="fa fa-shopping-cart"></i>  <span class="hidden-xs">0 items in cart</span>
                    </a>
                </div>
            </div>
            <!--/.navbar-header -->

            <div class="navbar-collapse collapse" id="navigation">

                <ul class="nav navbar-nav navbar-left">
                    <li class="active"><a href="/index">Home</a>
                    </li>
                    <li class="active"><a href="#about">About</a>
                    </li>
                    <li class="dropdown active">
                        <a href="#products" class="dropdown-toggle" data-hover="dropdown" data-delay="200">Products<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                    <div class="row">
                                        <div class="col-sm-2">
                                            <ul>
                                                <li><a href="/coming_soon">Clothing</a>
                                                </li>
                                                <li><a href="/yoga_mat_bags">Yoga mat bags</a>
                                                </li>
                                                <li><a href="/coming_soon">Home needs</a>
                                                </li>
                                                <li><a href="/coming_soon">Totes and more</a>
                                                </li>
                                                <li><a href="/coming_soon">Body care</a>
                                                </li>
                                                <li><a href="/coming_soon">Miscellaneous</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                <!-- /.yamm-content -->
                            </li>
                        </ul>
                    </li>
                    <li class="active"><a href="#contact">Contact</a>
                    </li>

                </ul>

            </div>
            <!--/.nav-collapse -->

            <div class="navbar-buttons">

                <div class="navbar-collapse collapse right" id="basket-overview">
                    <a href="/coming_soon" class="btn btn-primary navbar-btn"><i class="fa fa-shopping-cart"></i><span class="hidden-sm">0 items in cart</span></a>
                </div>
                <!--/.nav-collapse -->


            </div>

            <!--/.nav-collapse -->

        </div>
        <!-- /.container -->
    </div>
    <!-- /#navbar -->

    <!-- *** NAVBAR END *** -->



    <div id="all">

        <div id="content">

            <div class="container">
                <div class="col-md-14">
                    <div id="main-slider">
                        <div class="item">
                            <img src="static/img/Top cover photo.jpg" alt="" class="img-responsive" style="height: 100%; width: 100%; object-fit: contain">
                        </div>
                    </div>
                    <!-- /#main-slider -->
                </div>
            </div>

            <!-- *** GET INSPIRED ***
 _________________________________________________________ -->
            <div class="box text-center" data-animate="fadeInUp" id="about">
                    <div class="container">
                        <div class="col-md-12">
                        <h3>About Ji</h3>
                        <p class="lead">Specializing in handmade, sustainable, and regional products</p>
		    </div>
                  <div class="col-md-4">
		    <div class="post">
                      <p class="intro" align="left" style="font-size:16px">
<br>
At Ji, we meticulously handcraft and handpick an eclectic mix of products including home decor, clothing and other utilitarian creations, in collaboration with grassroots organizations and artisans.
<br><br>
In addition to making a lot of products ourselves, we strive to support other small artisan groups that keep traditional Indian art and craft alive, by handpicking materials and products from them.
<br><br>
Each listing has under its description, the materials used and recommended care. If you have further questions, please send us a message and we will get back to you as soon as possible.
<br><br>
Most of our products are unique pieces, which means they are not made to order. However, please do let us know if there is a product that you would like to be re-made just for you. We will try our best to fit your request!
</p>
		    </div>

		  </div>
                  <div class="col-md-8">
                        <div id="get-inspired" class="owl-carousel owl-theme">
                            <div class="item">
                                <a href="#about">
                                    <img src="static/img/Ji_painting.jpg" alt="Get inspired" class="img-responsive" style="height: 100%; width: 100%; object-fit: contain">
                                </a>
                            </div>
                            <div class="item">
                                <a href="#about">
                                    <img src="static/img/Kilmora1.jpg" alt="Get inspired" class="img-responsive" style="height: 100%; width: 100%; object-fit: contain">
                                </a>
                            </div>
                            <div class="item">
                                <a href="#about">
                                    <img src="static/img/Weavers.jpg" alt="Get inspired" class="img-responsive" style="height: 100%; width: 100%; object-fit: contain">
                                </a>
                            </div>
                            <div class="item">
                                <a href="#about">
                                    <img src="static/img/Lacquer toys.jpg" alt="Get inspired" class="img-responsive" style="height: 100%; width: 100%; object-fit: contain">
                                </a>
                            </div>
                            <div class="item">
                                <a href="#about">
                                    <img src="static/img/Aarohi (50 of 221).jpg" alt="Get inspired" class="img-responsive" style="height: 100%; width: 100%; object-fit: contain">
                                </a>
                            </div>
                        </div>
		  </div>
            </div>
            <!-- *** GET INSPIRED END *** -->

            <!-- *** HOT PRODUCT SLIDESHOW ***
 _________________________________________________________ -->

                <div class="box text-center" data-animate="fadeInUp" id="products">
                    <div class="container">
                        <div class="col-md-12">
                            <h2>Products</h2>
                        </div>
                    </div>
                </div>

                <div class="container">
                  <div class="col-md-12" data-animate="fadeInUp">
                        <div class="col-sm-4">
                            <div class="product">
                                            <a href="/coming_soon">
                                                <img src="static/img/Clothing.jpg" alt="" class="img-responsive" style="height: 100%; width: 100%; object-fit: contain">
                                            </a>
                                <div class="text">
                                    <h3><a href="/coming_soon">Clothing</a></h3>
                                </div>
                                <!-- /.text -->

                            </div>
                            <!-- /.product -->
                        </div>

                        <div class="col-sm-4">
                            <div class="product">
                                            <a href="/yoga_mat_bags">
                                                <img src="static/img/Yogamat bags.jpg" alt="" class="img-responsive" style="height: 100%; width: 100%; object-fit: contain">
                                            </a>
                                <div class="text">
                                    <h3><a href="/yoga_mat_bags">Yoga mat bags</a></h3>
                                </div>
                                <!-- /.text -->

                            </div>
                            <!-- /.product -->
                        </div>

                        <div class="col-sm-4">
                            <div class="product">
                                            <a href="/coming_soon">
                                                <img src="static/img/Home needs.jpg" alt="" class="img-responsive" style="height: 100%; width: 100%; object-fit: contain">
                                            </a>
                                <div class="text">
                                    <h3><a href="/coming_soon">Home needs</a></h3>
                                </div>
                                <!-- /.text -->

                            </div>
                            <!-- /.product -->
                        </div>

                    </div>
                    <!-- /.product-slider -->

                  <div class="col-md-12" data-animate="fadeInUp">
                        <div class="col-sm-4">
                            <div class="product">
                                            <a href="/coming_soon">
                                                <img src="static/img/Totes and more.jpg" alt="" class="img-responsive" style="height: 100%; width: 100%; object-fit: contain">
                                            </a>
                                <div class="text">
                                    <h3><a href="/coming_soon">Totes and more</a></h3>
                                </div>
                                <!-- /.text -->

                            </div>
                            <!-- /.product -->
                        </div>

                        <div class="col-sm-4">
                            <div class="product">
                                            <a href="/coming_soon">
                                                <img src="static/img/Body care.jpg" alt="" class="img-responsive" style="height: 100%; width: 100%; object-fit: contain">
                                            </a>
                                <div class="text">
                                    <h3><a href="/coming_soon">Body care</a></h3>
                                </div>
                                <!-- /.text -->

                            </div>
                            <!-- /.product -->
                        </div>

                        <div class="col-sm-4">
                            <div class="product">
                                            <a href="/coming_soon">
                                                <img src="static/img/Miscellaneous.jpg" alt="" class="img-responsive" style="height: 100%; width: 100%; object-fit: contain">
                                            </a>
                                <div class="text">
                                    <h3><a href="/coming_soon">Miscellaneous</a></h3>
                                </div>
                                <!-- /.text -->

                            </div>
                            <!-- /.product -->
                        </div>

                    </div>
                    <!-- /.product-slider -->

                </div>
                <!-- /.container -->

            <!-- *** HOT END *** -->


        </div>
        <!-- /#content -->

        <!-- *** FOOTER ***
 _________________________________________________________ -->
        <div id="footer" data-animate="fadeInUp">
            <div class="container" id="contact">
                <div class="row">
                    <div class="col-md-2 col-sm-6">
                        <h4>Sections</h4>

                        <ul>
                            <li><a href="#about">About</a>
                            </li>
                            <li><a href="#products">Products</a>
                            </li>
                        </ul>

                        <hr class="hidden-md hidden-lg hidden-sm">

                    </div>
                    <!-- /.col-md-3 -->

                    <div class="col-md-2 col-sm-6">

                        <h4>Products</h4>

                        <ul>
                                                <li><a href="/coming_soon">Clothing</a>
                                                </li>
                                                <li><a href="/yoga_mat_bags">Yoga mat bags</a>
                                                </li>
                                                <li><a href="/coming_soon">Home needs</a>
                                                </li>
                                                <li><a href="/coming_soon">Totes and more</a>
                                                </li>
                                                <li><a href="/coming_soon">Body care</a>
                                                </li>
                                                <li><a href="/coming_soon">Miscellaneous</a>
                                                </li>
                        </ul>

                        <hr class="hidden-md hidden-lg">

                    </div>
                    <!-- /.col-md-3 -->

                    <div class="col-md-4 col-sm-6">

                        <h4>Stay updated</h4>

			{% if is_subscribed %}
			<p class="text-muted">You are subscribed. Stay tuned for updates.</p>
			{% else %}
			<p class="text-muted">If you would like to join our email list, please provide your email below.</p>
                        <form action="/subscribe#footer" method="GET">

                          <div class="input-group">

                            <input type="text" name="email_input" class="form-control" placeholder="user@example.com">

                            <span class="input-group-btn">

			      <button class="btn btn-default" type="submit">Subscribe!</button>
			    </span>

                          </div>
                          <!-- /input-group -->
                        </form>

			{% endif %}

                        <hr class="hidden-md hidden-lg">

                    </div>
                    <!-- /.col-md-3 -->


                    <div class="col-md-4 col-sm-6">

                        <h4>Stay in touch</h4>

                        <p class="social">
                            <a href="https://www.facebook.com/ji.curations" class="facebook external" data-animate-hover="shake"><i class="fa fa-facebook"></i></a>
                            <a href="https://www.instagram.com/ji.curations_india" class="instagram external" data-animate-hover="shake"><i class="fa fa-instagram"></i></a>
                            <a href="mailto:hello@jicurations.com" class="email external" data-animate-hover="shake"><i class="fa fa-envelope"></i></a>
                        </p>
			Whatsapp: +91 73307 16033<br>
			<a href="https://www.payumoney.com/store/buy/ji-curations">Payumoney</a>
                    </div>
                    <!-- /.col-md-3 -->

                </div>
                <!-- /.row -->

            </div>
            <!-- /.container -->
        </div>
        <!-- /#footer -->

        <!-- *** FOOTER END *** -->


    </div>
    <!-- /#all -->


    

    <!-- *** SCRIPTS TO INCLUDE ***
 _________________________________________________________ -->
    <script src="static/js/jquery-1.11.0.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/jquery.cookie.js"></script>
    <script src="static/js/waypoints.min.js"></script>
    <script src="static/js/modernizr.js"></script>
    <script src="static/js/bootstrap-hover-dropdown.js"></script>
    <script src="static/js/owl.carousel.min.js"></script>
    <script src="static/js/front.js"></script>


</body>

</html>
