<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>GitWatch - Revealing where to contribute to open source projects</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="static/css/bootstrap.min.css" type="text/css">

    <!-- Custom Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="static/font-awesome/css/font-awesome.min.css" type="text/css">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="static/css/animate.min.css" type="text/css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="static/css/creative.css" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-68283238-1', 'auto');
  ga('send', 'pageview');

</script>
    
<body id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-withheader navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="/">GitWatch</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="/slides">Slides</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="https://github.com/hebda">GitHub</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="https://www.linkedin.com/in/philiphebda">LinkedIn</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1>GitWatch</h1>
                <hr>
                <p><font color="blue"><b>Revealing where to contribute to open source projects</b></font></p>
                <a href="#select_list" class="btn btn-primary btn-xl page-scroll">Where could I contribute?</a>
                <!--<a href="index_one" class="btn btn-primary btn-xl page-scroll">I have a repository in mind.</a>-->
            </div>
        </div>
    </header>

    <section class="bg-primary" id="select_list">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
		    {% if month %}
                    <h2 class="section-heading">What open source projects could I contribute to in {{ month }}?</h2>
		    {% else %}
                    <h2 class="section-heading">What open source projects could I contribute to in September?</h2>
		    {% endif %}
                    <hr class="light">
                    <p class="text-faded">Enter some options to get a personalized list of repositories.</p><br>
                      <form action="/output#list_result" method="GET">
                        <div class="form-group">
			  {% for lang in languages %}
			  {% if lang in language_checklist %}
			  <label for="{{lang}}" onclick="selectAll(document.wizard_form, this);">
			    <input type="checkbox" id="{{lang}}" name="{{lang}}" value="{{lang}}" checked> {{lang}}&ensp;
			  </label>
			  {% else %}
			  <label for="{{lang}}" onclick="selectAll(document.wizard_form, this);">
			    <input type="checkbox" id="{{lang}}" name="{{lang}}" value="{{lang}}"> {{lang}}&ensp;
			  </label>
			  {% endif %}
			  {% endfor %}
			  <br><br>
			  {% if hotness %}
			  <label for="hotness" onclick="selectAll(document.wizard_form, this);">
			    <input type="checkbox" id="hotness" name="hotness" value="hotness" checked> Only repositories that will be popular <img src="../static/img/fire.png" alt="Yes" style="width:24px;height:24px;">
			  </label>
			  {% else %}
			  <label for="hotness" onclick="selectAll(document.wizard_form, this);">
			    <input type="checkbox" id="hotness" name="hotness" value="hotness"> Only repositories that will be popular <img src="../static/img/fire.png" alt="Yes" style="width:24px;height:24px;">
			  </label>
			  {% endif %}
                          <br><br>
			  <!--{% if hipsterness %}
			  <label for="hipsterness" onclick="selectAll(document.wizard_form, this);">
			    <input type="checkbox" id="hipsterness" name="hipsterness" value="hipsterness" checked> Only repos that will explode in popularity <img src="../static/img/mustache.png" alt="Yes" style="width:36px;height:24px;">
			  </label>
			  {% else %}
			  <label for="hipsterness" onclick="selectAll(document.wizard_form, this);">
			    <input type="checkbox" id="hipsterness" name="hipsterness" value="hipsterness"> Only repos that will explode in popularity <img src="../static/img/mustache.png" alt="Yes" style="width:36px;height:24px;">
			  </label>
			  {% endif %}
                          <br><br>-->
                          <!--<label for="Label2"><b>Search project descriptions:</b></label>
                          {% if description_tag %}
                            <input type="text" id="description_tag" name='description_tag' value="{{ description_tag }}" style="width:420px; color:#333" list="name_list">
                          {% else %}
                            <input type="text" id="description_tag" name='description_tag' placeholder="keep it short or empty" style="width:420px; color:#333" list="name_list">
                          {% endif %}
                          <br><br>-->
                        </div>
                        <div>
			  <button type="submit" class="btn btn-default btn-xl">Show me!</button>
                        </div>
                      </form>
                </div>
            </div>
        </div>
    </section>

    {% if display_list_result %}
    <section id="list_result">
    <div class="container" id="result-container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center">
          <h3>Results for {{ month }}</h3><br>
          <p class="lead">Hover over the predictions for more insight.</p>
      </div>
      <table class="table table-hover"><col align="left">
      <tr><th>owner/name</th><th>Description</th><th>Lang</th><th># Pushes Pred.</th><th># Watches Pred.</th><th>Notes</th></tr>
      {% for i in the_result %}
	<tr><td><a href="https://github.com/{{i[1]}}">{{ i[1] }}</a></td><td>{{ i[2] }}</td><td>{{ i[3] }}</td>
	  <td align="center">
	  <div class="itemsContainer">
	    {{ i[5] }}
	    <div class="play"><img src="../static/img/plots/{{i[0]}}_push.png" style="width=50px;height=50px;" align="right"> </div>
	  </div></td>
	  <td align="center">
	  <div class="itemsContainer">
	    {{ i[6] }}
	    <div class="play"><img src="../static/img/plots/{{i[0]}}_watch.png" style="width=50px;height=50px;" align="right"> </div>
	  </div></td>
          {% if i[8]==1 %}
          <td><img src="../static/img/fire.png" alt="Yes" style="width:24px;height:24px;"></td></tr>
          {% else %}
          <td></td></tr>
          {% endif %}
	  <!--{% if i[7]==1 and i[8]==1 %}
	  <td><img src="../static/img/mustacheglasses.png" alt="Yes" style="width:36px;height:24px;"></td></tr>
	  {% elif i[7]==1 %}
	  <td><img src="../static/img/mustache.png" alt="Yes" style="width:36px;height:24px;"></td></tr>
          {% elif i[8]==1 %}
          <td><img src="../static/img/fire.png" alt="Yes" style="width:24px;height:24px;"></td></tr>
          {% else %}
          <td></td></tr>
          {% endif %}-->
      {% endfor %}
      </table>
     </div>
      <br><br>
        <img src="../static/img/fire.png" alt="Yes" style="width:24px;height:24px;" hspace="20"> In the top 10% in terms of predicted watches<br><br>
	<!--<img src="../static/img/mustache.png" alt="Yes" style="width:36px;height:24px;" hspace="13"> Predicted to at least double the number of new watchers from the previous month<br><br>
	<img src="../static/img/mustacheglasses.png" alt="Yes" style="width:36px;height:24px;" hspace="13"> Both conditions hold<br>-->

     </div>
      <!--<center>
        <form action="/output#list_result" method="GET">
          <div>
	  <button type="submit" class="btn btn-default btn-xl" style="background-color:lightyellow">>Show me 10 more.</button>
        </div>
          <label for="n_list" name="n_list" id="n_list" value=15></label>
	</form>
      </center>-->
	<!--<table class="table table-hover"><col align="left">
	<tr><td><img src="../static/img/fire.png" alt="Yes" style="width:24px;height:24px;"></td><td>In the top 10% of total number of watchers in the queried set</td></tr>
	<tr><td><img src="../static/img/mustache.png" alt="Yes" style="width:36px;height:24px;"></td><td>Predicted to at least double the number of new watchers from the previous month</td></tr>
	<tr><td><img src="../static/img/mustacheglasses.png" alt="Yes" style="width:36px;height:24px;"></td><td>Both conditions hold!</td></tr>
      </table>-->

    </section>
    {% endif %}

    <section id="notes">
        <p><center><i>
            <font color="#999999" size="xsmall">
                Website by Philip Hebda (phil@gitwatch.xyz), 2015.
                <br>
            </font>
        </i></center></p>
    </section>

    <!-- jQuery -->
    <script src="static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="static/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="static/js/jquery.easing.min.js"></script>
    <script src="static/js/jquery.fittext.js"></script>
    <script src="static/js/wow.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="static/js/creative.js"></script>

</body>

</html>
