    <div class="navbar navbar-default navbar-withheader navbar-static-top" role="navigation" id="navbar">
        <div class="container">
            <div class="navbar-header">

              <a class="navbar-brand home" href="#contact" data-animate-hover="none">
                    <img src="static/img/logo-small.png" alt="Ji logo" class="hidden-xs" style="height: 100%">
                </a>
                <div class="navbar-buttons">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation">
                        <span class="sr-only">Toggle navigation</span>
                        <i class="fa fa-align-justify"></i>
                    </button>
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#search">
                        <span class="sr-only">Toggle search</span>
                        <i class="fa fa-search"></i>
                    </button>
                    <a class="btn btn-default navbar-toggle" href="/coming_soon">
                        <i class="fa fa-shopping-cart"></i>  <span class="hidden-xs">0 items in cart</span>
                    </a>
                </div>
            </div>
            <!--/.navbar-header -->

            <div class="navbar-collapse collapse" id="navigation">

                <ul class="nav navbar-nav navbar-left">
                    <li class="active"><a href="/index">Home</a>
                    </li>
                    <li class="dropdown active">
                        <a href="#products" class="dropdown-toggle" data-hover="dropdown" data-delay="200">Apparel<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                    <div class="row">
                                        <div class="col-sm-2">
                                            <ul style="display: inline-block; width:150px;">
                                                <li><a href="/coming_soon">Sarees</a>
                                                </li>
                                                <li><a href="/coming_soon">Dupattas</a>
                                                </li>
                                                <li><a href="/coming_soon">Stoles</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                <!-- /.yamm-content -->
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown active">
                        <a href="#products" class="dropdown-toggle" data-hover="dropdown" data-delay="200">Totes and More<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                    <div class="row">
                                        <div class="col-sm-2">
                                            <ul style="display: inline-block; width:150px;">
                                                <li><a href="/coming_soon">Totes</a>
                                                </li>
                                                <li><a href="/coming_soon">Backpacks</a>
                                                </li>
                                                <li><a href="/coming_soon">Organizers</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                <!-- /.yamm-content -->
                            </li>
                        </ul>
                    </li>
                    <li class="active"><a href="/yoga_mat_bags">Yoga Lifestyle</a>
                    </li>
                    <li class="dropdown active">
                        <a href="#products" class="dropdown-toggle" data-hover="dropdown" data-delay="200">Home and Living<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                    <div class="row">
                                        <div class="col-sm-2">
                                            <ul style="display: inline-block; width:150px;">
                                                <li><a href="/coming_soon">Cushion Covers</a>
                                                </li>
                                                <li><a href="/coming_soon">Table Linen</a>
                                                </li>
                                                <li><a href="/coming_soon">Bed and Bath</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                <!-- /.yamm-content -->
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown active">
                        <a href="#contact" class="dropdown-toggle" data-hover="dropdown" data-delay="200">About Us<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                    <div class="row">
                                        <div class="col-sm-2">
                                            <ul style="display: inline-block; width:150px;">
                                                <li><a href="#about">Our Story</a>
                                                </li>
                                                <li><a href="#contact">Contact Us</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                <!-- /.yamm-content -->
                            </li>
                        </ul>
                    </li>
                </ul>

            </div>
            <!--/.nav-collapse -->

            <div class="navbar-buttons">

                <div class="navbar-collapse collapse right" id="basket-overview">
                    <a href="/coming_soon" class="btn btn-primary navbar-btn"><i class="fa fa-shopping-cart"></i><span class="hidden-sm">0 items in cart</span></a>
                </div>
                <!--/.nav-collapse -->


            </div>

            <!--/.nav-collapse -->

        </div>
        <!-- /.container -->
    </div>
    <!-- /#navbar -->
